{% extends "base.html" %}
{% load staticfiles %}

{% block blog_title %}
<div class="blog-header">
    <h1 class="blog-title">The Best Blog</h1>
</div>
{% endblock %}

{% block content %}
<div class="col-sm-8 blog-main">
    <div class="blog-post">
        {% if request.user.is_authenticated %}
        <p>Hi, <strong>{{request.user.username}}</strong></p>
        {% else %}
        <p>Please <a href="/login">login</a> or <a href="/signup">sign up</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}